{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "electron": "28"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
} 